.button {
  background-color: var(--colorsPrimary950);
  border-radius: var(--aldo2);
  font: var(--textBaseFontMedium);
  border: none;
  color: var(--colorsBaseWhite);
  font: var(--textBaseFontMedium);
}
