@tailwind base;
@tailwind components;
@tailwind utilities;
/* .btn {
  border: 1px solid var(--colorsBaseBlack);
}

.btn-text {
  font: var(--textSmFontBold);
} */

.btn-red {
  background-color: red;
}
